/* fonts */

h1, h2, h3 {
  font-family: Constantia, Georgia;
}

body {
    font-family: 'PT Sans', sans-serif;
}

/* header */

.site-header {
  margin-top: 55px;
  margin-bottom: 10px;
  text-align: center;
  font-size: 4.5em;
}

.site-link {
  color: black;
  text-decoration: none;
}

.site-link:hover {
  color: #555;
}

/* nav */

nav {
  text-align: center;
  margin-bottom: 50px;
}

nav a {
  text-decoration: none;
  font-size: 1.25em;
  margin-left: 6px;
  margin-right: 6px;
  color: #777;
}

nav a:hover {
  color: black;
}

ul {
  margin-top: 4px;
  padding: 0px;
  list-style: none;
}

.active {
  color: black;
}

/* articles */

ol {
  list-style-type:decimal;
  padding: 35px;
  padding-top: 20px;
  padding-bottom: 20px;
  font-size: 1.5em;
  line-height: 150%;
}

.article-header {
  margin-bottom: 13px;
  font-size: 4em;
  font-weight: normal;
}

.article-time {
  color: #555;
  font-size: 1.4em;
}

h2 {
  font-size: 2em;
  margin-top: 25px;
  color: #D0021B;
}

article a {
  color: #D0021B;
  text-decoration: none;
}

article a:hover {
  text-decoration: underline;
}

p {
  font-size: 1.5em;
  line-height: 150%;
  margin-top: 12px;
  margin-bottom: 12px;
}

.article-container {
  max-width: 650px;
  margin: 0 auto;
  padding-bottom: 60px;
}

.content-container {
  padding-top: 20px;
}
