article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section {
    display:block;
}

.site-header {
  text-align: center;
  font-size: 4.5em;
  font-family: "Georgia";
  font-weight: normal;
  margin-bottom: 0px;
}

nav {
  text-align: center;
}

nav a {
  font-family: 'PT Sans', sans-serif;
  text-decoration: none;
  font-size: 1.25em;
  margin-left: 6px;
  margin-right: 6px;
  color: black;
}

ul {
  margin-top: 4px;
  padding: 0px;
  list-style: none;
}

body {
  margin: 0 auto;
  max-width: 650px;
}

article header h1 {
  font-size: 3em;
  font-family: "Georgia";
  font-weight: normal;
  margin-bottom: 4px;
}

time {
  font-family: 'PT Sans', sans-serif;
  color: #555;
  font-size: 1.4em;
}

p {
  font-family: 'PT Sans', sans-serif;
  font-size: 1.5em;
  line-height: 150%;
}